<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="../static/css/aboutStyle.css">
</head>
<body>
    <div class="background">

    </div>

    <!-- creating Header-->
    <div class="header-container">
        <div class="logo"><a href="/">DISPENSARY COMPETITION VISUALIZER</a></div>
        <div class="navbar">
            <div class="link"><a href="/">Home</a></div>
            <div class="about"><a href="/about">About</a></div>
            <div class="link"><a href="/api/v1.0/geoJSON">API</a></div>
            <div class="link"><a href="https://github.com/kayleepat/dispensary-competition-visualizer">Github</a></div>
        </div>
    </div>
    <div class="main-container">
        <!-- About content section-->
      <div class="about-section">
        <h1>Overview</h1>
        <p>The Dispensary Competition Visualizer is a web application designed to provide users with valuable insights into the competitive landscape of dispensaries within the state of Florida. By selecting a specific radius and clicking on the map, users can highlight competing dispensaries. The application updates a table and various charts to offer a comprehensive overview of the local competitive environment.

        </p>
      </div>
      <br>

      <div class="data-section">
        <h1>Data Dashboard</h1>
        <p>The application's data dashboard consists of multiple visual elements that provide valuable information:
            <br>


          Bar Chart: This chart displays the distances of all competitors within the selected radius, allowing users to quickly gauge the proximity of competing dispensaries.
          <br>
          Doughnut Chart: The doughnut chart offers a visual representation of the local market share, illustrating the percentage of stores each company occupies within the specified radius.
          <br>
          Table: The table provides detailed information about the top 10 competitors. Users can view data such as company name, address, and distance from the selected dispensary.
          

      </p>
      

      </div>
      <br>
      <div class="tools-section">
        <h1>Tools Used</h1>
        <p>This webpage is powered by several dependencies shown below:
            <br>
            Leaflet, D3.js, Chart.js, Splinter, Beautiful Soup, Flask, SQLite, Pandas, Numpy
        </p>
      

    </div>
  </div>
    
</body>
</html>