<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dispensary-competition-visualizer</title>

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>

    <!-- D3 library -->
    <script src="https://d3js.org/d3.v7.min.js"></script>

    <!-- chart.js library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="background">

        <div class="ellipse"></div>
        <div class="ellipse-2"></div>
        <!-- <div class="ellipse-3"></div> -->
        <div class="ellipse-4"></div>
        <div class="ellipse-5"></div>
        <!-- <div class="ellipse-6"></div> -->

    </div>
    <div class="header-container">
        <div class="logo"><a href="/">DISPENSARY COMPETITION VISUALIZER</a></div>
        <div class="navbar">
            <div class="home"><a href="/">Home</a></div>
            <div class="link">About</div>
            <div class="link"><a href="/api/v1.0/geoJSON">API</a></div>
            <div class="link"><a href="https://github.com/kayleepat/dispensary-competition-visualizer">Github</a></div>
        </div>
    </div>
    <div class="main-container">
        <div id="map"></div>
        <div class="interaction-container">
            <div class="input-container">
                <div class="slider-value-container">
                    <div id="slider-value">5</div> <!-- displays number selected using slider -->
                    <div>MILES</div>
                </div> 
                <div class="slider-container">
                    <input type="range" min="0" max="75" step="5" value="10" class="slider" id="slider-range"> <!-- displays the slider itself -->
                </div> 
            </div>
            <div class="table-container">
                <div class="table-title">Top 10 competitors</div>
                <table>
                    <thead>
                        <th>Company Name</th>
                        <th>Store Address</th>
                        <th>Distance from Selected Store</th>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                <div class="table-summary">
                    <div class="summary-title">Total Competitors:</div>
                    <div id="competitor-count">0</div>
                </div>
            </div>
        </div>
    </div>
    <div class="chart-container">
        <div class="chart">
            <canvas id="bar-chart"></canvas>
        </div>
        <div class="chart">
            <canvas id="pie-chart"></canvas>
        </div>
    </div>
    <div class="footer-container">
        <div class="navbar">
          <div class="home"><a href="/">Home</a></div>
          <div class="link">About</div>
          <div class="link"><a href="/api/v1.0/geoJSON">API</a></div>
          <div class="link"><a href="https://github.com/kayleepat/dispensary-competition-visualizer">Github</a></div>
        </div>
      </div>
    <script src="../static/js/slider.js"></script>
    <script src="../static/js/logic.js"></script>
    <!-- <script src="../static/js/charts.js"></script> -->
    <!-- <script src="../static/js/logic2.js"></script> -->
</body>
</html>
